@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #1e3a8a;
    --hover-color: #60a5fa;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
    
}

main {
    max-width: 85%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}


/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    
    max-width: 600px;
    margin: auto;
}

/** links **/

a.link:hover {
    color: var(--hover-color);
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    color: white;
    text-align: center;
    max-width: 150px;
    margin: 0.5em auto ;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    max-width: 150px;
    margin: auto;
}


/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: bold;
}

.nav-brand{
    font-family: 'Calligraffitti', cursive;
    font-size: 2em;
}

.nav-brand a {
    text-decoration: none;
    color: inherit;
}

.navigation .menu-item {
    font-size: 1.2em;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
    color: var(--hover-color);
}

/** header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {
    max-width: 800%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** sections **/

.section {
    margin: 2rem 0;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}



/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-inline-start: 0px;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    text-align: center;
    font-weight: bold;
    font-size: large;
}



.footer-twitter {
  background-image: url(images/twittericon30by30.svg);
  background-position: 0 50%;
  background-size: auto;
  background-repeat: no-repeat;
  padding-left: 35px;
  
}

.footer-github {
    background-image: url(images/githubicon30by30.svg);
    background-position: 0 50%;
    background-size: auto;
    background-repeat: no-repeat;
    padding-left: 35px;
    
  }

  .footer-linkedin {
    background-image: url(images/linkedinicon30by30.svg);
    background-position: 0 50%;
    background-size: auto;
    background-repeat: no-repeat;
    padding-left: 35px;
    
  }

/** projects **/
.showcase-list {
    border-radius: 1rem;
    padding: 3rem;
    max-width: 80%;
    text-align: center;
    margin: 3rem auto;
    
}

.showcase-list h1 {
    margin: 0.5rem;
  }
  
.showcase-list p {
    padding-bottom: 1rem;
  }

/** blogs **/
.showcase-blog {
    padding-bottom: 6rem;
}

img.coming-soon {
    width: 30%;
    padding: auto ;
    margin: auto;
}

.soon {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}